<div class="social-buttons-container">
    <% if(page.comments) { %>
        <div class="button-wrapper">
            <button class="terminal-button" onclick="window.open('<%= theme.linkedin.newsletter %>', '_blank')">
                [Subscribe Newsletter]
            </button>
            <button class="terminal-button" onclick="window.open('<%= theme.linkedin.linkedin %>', '_blank')">
                [Connect with me on LinkedIn]
            </button>
        </div>
    <% } %>
</div>